﻿
@{
    ViewBag.Title = "EmployeeProfileMain";
    Layout = "~/Views/Shared/PayrollMaster.cshtml";
}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Master</a></li>
        <li><a href="javascript:;">EmployeeProfile</a></li>
        <li class="active">EmployeeProfile</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Employee Details</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <div>
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                        <h4 class="panel-title">Employee Details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <a href="javascript:;" class="btn btn-success" id="btnEmpAdd">Add New Employee</a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <!-- begin col-4 -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>ActiveMode</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="ActYes" value="Yes" checked /> Yes
                                        </label>
                                        <label>
                                            <input type="radio" name="ActYes" value="No" /> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- end col-4 -->
                        </div>
                        <br />
                        <div class="row">
                                <table id="example8" class="table">
                                    <thead>
                                        <tr>
                                            <th>EmpNo</th>
                                            <th>Existing Code</th>
                                            <th>Name</th>
                                            <th>Department</th>
                                            <th>Employee Type</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                </div>
                <!-- end panel -->
            </div>
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Employee/EmployeeMain.js"></script>
