﻿
@{
    ViewBag.Title = "HolidayMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Holiday Master</a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>National Festival Holiday</small></h1>
    <!-- end page-header -->

    <!--Form Page-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                    </div>
                    <h4 class="panel-title">Holiday Master</h4>
                </div>
                <div class="panel-body panel-form">
                    <form class="form-horizontal form-bordered" data-parsley-validate="true">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Year  * :</label>
                                    <select class="form-control">
                                        <option>-Select-</option>
                                        <option>Staff</option>
                                        <option>Labour</option>
                                    </select>

                                </div>
                                <div class="col-md-6">
                                    <label>Holiday  * :</label>
                                    <input class="form-control datepicker" type="text" id="fullname" name="fullname" placeholder="Required" data-parsley-required="true" />
                                </div>
                            

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Description * :</label>
                                    <input class="form-control" type="text" id="fullname" name="fullname" placeholder="Required" data-parsley-required="true" />

                                </div>
                                <div class="col-md-6">
                                    <label>NFH Type * :</label>
                                    <select class="form-control">
                                        <option>-Select-</option>
                                        <option>Staff</option>
                                        <option>Labour</option>
                                    </select>
                                </div>


                            </div>
                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5"></label>
                                <div class="col-md-3 col-sm-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="submit" class="btn btn-danger">Clear</button>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    
                                </div>
                            </div>
                           
                        
                        </div>
                  
                    </form>
                </div>
            </div>
     </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>

                    </div>
                    <h4 class="panel-title">Holiday Master Datatable</h4>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>

                    </div>
                    <h4 class="panel-title">Holiday Count Datatable</h4>
                </div>

            </div>
        </div>
        
        
    </div>
  
    </div>
