﻿
@{
    ViewBag.Title = "IncentiveMaster";
    Layout = "~/Views/Shared/PayrollMaster.cshtml";
}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Incentive Master</a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>Incentive  </small></h1>
    <!-- end page-header -->
    <!--Form Page-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                    </div>
                    <h4 class="panel-title">Incentive Master</h4>
                </div>
                <div class="panel-body panel-form">
                    <div class="form-horizontal form-bordered" data-parsley-validate="true">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Employee Type * :</label>
                                    <select id="ddlEmpType" class="form-control select2" onchange="OnChangeINEmpType();">
                                        <option value="0">--Select Employee Type--</option>
                                    </select>
                                    <span id="EmpTypeerror" style="color:red;"> </span>
                                </div>
                                <div class="col-md-3">
                                    <label>Days  * :</label>
                                    <input class="form-control" type="text" id="txtDays" name="fullname" placeholder="Required" data-parsley-required="false" />
                                    <span id="Dayserror" style="color:red;"> </span>
                                </div>
                                <div class="col-md-3">
                                    <label>Amount * :</label>
                                    <input class="form-control" type="text" id="txtAmount" name="fullname" placeholder="Required" data-parsley-required="false" />
                                    <span id="Amounterror" style="color:red;"> </span>
                                </div>

                            </div>


                            <div class="row">
                                <label class="control-label col-md-5 col-sm-5"></label>
                                <div class="col-md-3 col-sm-3">
                                    <button type="submit" class="btn btn-primary" id="btnIncentiveSave">Save</button>
                                    <button type="submit" class="btn btn-danger" id="btnIncentiveClear">Clear</button>
                                </div>
                                <div class="col-md-3 col-sm-3">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End #content -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Master/IncentiveDetails.js"></script>

