﻿
@{
    ViewBag.Title = "SalaryUpload";
    Layout = "~/Views/Shared/PayrollMaster.cshtml";
}

@using (Html.BeginForm("SalaryUpload", "Others", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Salary</a></li>
            <li><a href="javascript:;">Salary Upload</a></li>

        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header"><small>Salary Upload</small></h1>
        <!-- end page-header -->
        <!--Form Page-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                        </div>
                        <h4 class="panel-title">Salary Upload</h4>
                    </div>
                    <div class="panel-body panel-form">
                        <div class="form-horizontal form-bordered" data-parsley-validate="true">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Employee Type * :</label>
                                        <select id="ddlEmpType" class="form-control select2" name="WagesType">
                                            <option value="0">--Select Employee Type--</option>
                                        </select>

                                    </div>
                                    <div class="col-md-4">
                                        <label>From Date  * :</label>
                                        <input class="form-control datepicker" type="text" id="txtFromDate" name="FromDate" placeholder="Required" data-parsley-required="true" />
                                        <span id="FromDateerror" style="color:red"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>To Date * :</label>
                                        <input class="form-control datepicker" type="text" id="txtToDate" name="ToDate" placeholder="Required" data-parsley-required="true" />
                                        <span id="txtToDateerror" style="color:red"></span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Financial Year</label>
                                        <select id="ddlFin" class="form-control select2" name="FinYear">
                                            <option value="0">-Select-</option>
                                        </select>

                                    </div>

                                    <div class="col-md-4">
                                        <label>Month</label>
                                        <select id="ddlMonth" class="form-control select2" name="Months">
                                            <option value="0">-Select-</option>
                                            <option>January</option>
                                            <option>February</option>
                                            <option>March</option>
                                            <option>April</option>
                                            <option>May</option>
                                            <option>June</option>
                                            <option>July</option>
                                            <option>August</option>
                                            <option>September</option>
                                            <option>October</option>
                                            <option>November</option>
                                            <option>December</option>
                                        </select>

                                    </div>

                                    <div class="col-md-3">
                                        <br />
                                        <input type="file" id="fileUpload" Name="file" class="btn btn-default btn-rounded">
                                        <span class="" id="fileUploaderror" style="color:red;"></span>
                                    </div>

                                </div>



                                <div class="row">
                                    <label class="control-label col-md-5 col-sm-5"></label>
                                    <div class="col-md-3 col-sm-3">
                                        <button type="submit" class="btn btn-success" id="btnAttendMove">Salary Upload</button>
                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/Salary/Others.js"></script>
}

